<div class="navigation-rail__items">
    <ng-container *ngFor="let item of navService.navItems">
        <button class="navigation-rail__item" [attr.aria-label]="item.ariaLabel" [routerLink]="item.routerLink"
            routerLinkActive="navigation-rail__item--active" [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page" (click)="navService.toggleNavigationRail(); scrollService.scrollToTop()">
            <span class="material-symbols-outlined navigation-rail__item-icon">{{ item.icon }}</span>
            <span class="navigation-rail__item-label-text">{{ item.label }}</span>
        </button>
    </ng-container>
</div>