/* || Navigation Rail */

:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  height: 100%;
  top: 0;
  left: 0;
}

.navigation-rail__items {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.navigation-rail__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  height: 64px;
  flex-shrink: 0;
  color: var(--md-sys-color-on-surface-variant);
}

.navigation-rail__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navigation-rail__item--active .navigation-rail__item-icon {
  font-variation-settings:
    'FILL' 1;
}

/* || Navigation Rail - Modal - For compact and medium window classes */

@media (max-width: 839px) {
  :host {
    padding-bottom: env(safe-area-inset-bottom);
    background-color: var(--md-sys-color-surface-container);
    box-shadow: none;
    border-radius: 0 28px 28px 0;
    transform: translateX(-100%);
    transition:
      transform var(--md-sys-motion-spring-standard-slow-spatial),
      box-shadow var(--md-sys-motion-spring-standard-slow-effects);
  }

  :host(.navigation-rail--visible) {
    box-shadow: var(--elevation-level-2);
    transform: translateX(0);
  }

  .navigation-rail__items {
    margin-top: 44px;
  }

  .navigation-rail__item {
    height: 56px;
    width: max-content;
    gap: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: var(--md-sys-shape-corner-full);
  }

  .navigation-rail__item--active {
    background-color: var(--md-sys-color-secondary-container);
  }

  .navigation-rail__item-label-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }

  .navigation-rail__item--active .navigation-rail__item-label-text,
  .navigation-rail__item--active .navigation-rail__item-icon {
    color: var(--md-sys-color-on-secondary-container);
  }

  .navigation-rail__item {
    position: relative;
  }

  .navigation-rail__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-on-secondary-container);
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity var(--md-sys-motion-spring-standard-slow-effects);
  }

  @media (hover:hover) {
    .navigation-rail__item:hover::before {
      opacity: 0.08;
    }
  }

  .navigation-rail__item:active::before {
    opacity: 0.1;
    transition: none;
  }
}

/* For compact window class */
@media (max-width: 599px) {
  :host {
    width: 320px;
  }
}

/* For medium window class */
@media (min-width: 600px) and (max-width: 839px) {
  :host {
    width: 360px;
  }
}

/* || Navigation Rail - For expanded, large and extra-large window classes */

@media (min-width: 840px) {
  :host {
    width: 96px;
    z-index: 2;
    margin-left: env(safe-area-inset-left);
    background-color: var(--md-sys-color-surface-container);
    padding-bottom: 20px;
  }

  .navigation-rail__items {
    margin-top: calc(20px + 56px + 40px);
    gap: 4px;
  }

  .navigation-rail__item {
    flex-direction: column;
  }

  .navigation-rail__item-label-text {
    margin-top: 8px;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .navigation-rail__item-icon {
    height: 36px;
    width: 56px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: var(--md-sys-shape-corner-full);
  }

  .navigation-rail__item--active .navigation-rail__item-icon {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
  }

  .navigation-rail__item--active .navigation-rail__item-label-text {
    color: var(--md-sys-color-secondary);
  }

  .navigation-rail__item-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-on-secondary-container);
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition:
      opacity var(--md-sys-motion-spring-standard-slow-effects);
  }

  @media (hover:hover) {
    .navigation-rail__item:hover .navigation-rail__item-icon::before {
      opacity: 0.08;
    }
  }

  .navigation-rail__item:active .navigation-rail__item-icon::before {
    opacity: 0.1;
    transition: none;
  }
}