/* || Pane */

:host {
    position: fixed;
    overflow: auto;
    border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-background);
}

/* For compact and medium window classes */
@media (max-width: 839px) {
    :host {
        top: 0;
        height: 100%;
        width: 100%;
        padding-top: 64px;
        padding-bottom: calc(64px + env(safe-area-inset-bottom));
    }
}

/* For expanded, large and extra-large window classes */
@media (min-width: 840px) {

    :host {
        top: 16px;
        left: 16px;
        right: 16px;
        bottom: 16px;
        width: calc(100% - 80px - (16px * 2) - env(safe-area-inset-left) - env(safe-area-inset-right));
        margin-top: 64px;
        margin-left: calc(80px + env(safe-area-inset-left));
        margin-right: env(safe-area-inset-right);
    }
}