/* || Button */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 24px auto;
    transition: border-radius 250ms ease-in-out;
}

/* || Button - Size */

.button--size-xs {
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

.button--size-s {
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.button--size-m {
    height: 56px;
    padding-left: 24px;
    padding-right: 24px;
}

.button--size-l {
    height: 96px;
    padding-left: 48px;
    padding-right: 48px;
}

.button--size-xl {
    height: 136px;
    padding-left: 64px;
    padding-right: 64px;
}

/* || Button - Shape */

.button--shape-round.button--size-xs {
    border-radius: var(--md-sys-shape-corner-large);
}

.button--shape-round.button--size-s {
    border-radius: var(--md-sys-shape-corner-large-increased);
}

.button--shape-round.button--size-m {
    border-radius: var(--md-sys-shape-corner-extra-large);
}

.button--shape-round.button--size-l {
    border-radius: var(--md-sys-shape-corner-extra-extra-large);
}

.button--shape-round.button--size-xl {
    border-radius: var(--md-sys-shape-corner-full);
}

.button--shape-square.button--size-xs,
.button--shape-square.button--size-s {
    border-radius: var(--md-sys-shape-corner-small);
}

.button--shape-square.button--size-m {
    border-radius: var(--md-sys-shape-corner-large);
}

.button--shape-square.button--size-l,
.button--shape-square.button--size-xl {
    border-radius: var(--md-sys-shape-corner-extra-large);
}

/* || Button - Color */

.button--color-elevated {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--elevation-level-1);
}

.button--color-filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.button--color-tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.button--color-outlined {
    background: none;
    border: 1px var(--md-sys-color-outline) solid;
    color: var(--md-sys-color-on-surface-variant);
}

.button--color-text {
    background: none;
    color: var(--md-sys-color-primary);
}

/* || Button - Typography */

.button--size-xs .button__label-text,
.button--size-s .button__label-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.button--size-xs .button__icon,
.button--size-s .button__icon {
    font-size: 20px;
}

.button--size-xs .button__icon {
    margin-right: 4px;
}

.button--size-s .button__icon,
.button--size-m .button__icon {
    margin-right: 8px;
}

.button--size-.m .button__label-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.button--size-m .button__icon {
    font-size: 24px;
}

.button--size-l .button__label-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
}

.button--size-l .button__icon {
    font-size: 32px;
    margin-right: 12px;
}

.button--size-xl .button__label-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
}

.button--size-xl .button__icon {
    font-size: 40px;
    margin-right: 16px;
}

/* || Button - State */

@media (hover:none) {
    .button {
        transition: background-color 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out;
    }

    .button:active {
        transition: none;
    }

    .button--color-elevated:active {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--color-filled:active {
        background-color: var(--md-sys-color-on-primary);
        color: var(--md-sys-color-on-surface);
    }

    .button--color-tonal:active {
        background-color: var(--md-sys-color-on-secondary-container);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--color-outlined:active {
        background-color: var(--md-sys-color-on-surface-variant);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--color-text:active {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--size-xs:active,
    .button--size-s:active {
        border-radius: var(--md-sys-shape-corner-small) !important;
    }

    .button--size-m:active {
        border-radius: var(--md-sys-shape-corner-medium) !important;
    }

    .button--size-l:active,
    .button--size-xl:active {
        border-radius: var(--md-sys-shape-corner-large) !important;
    }
}

@media (hover:hover) {
    .button {
        transition: background-color 250ms ease-in-out, color 250ms ease-in-out, border-radius 250ms ease-in-out;
    }

    .button--color-elevated:hover {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--color-filled:hover {
        background-color: var(--md-sys-color-on-primary);
        color: var(--md-sys-color-on-surface);
    }

    .button--color-tonal:hover {
        background-color: var(--md-sys-color-on-secondary-container);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--color-outlined:hover {
        background-color: var(--md-sys-color-on-surface-variant);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button--color-text:hover {
        background-color: var(--md-sys-color-primary);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .button:active {
        background-color: var(--md-sys-color-surface) !important;
        color: var(--md-sys-color-on-surface) !important;
        transition: none;
    }

    .button--size-xs:active,
    .button--size-s:active {
        border-radius: var(--md-sys-shape-corner-small) !important;
    }

    .button--size-m:active {
        border-radius: var(--md-sys-shape-corner-medium) !important;
    }

    .button--size-l:active,
    .button--size-xl:active {
        border-radius: var(--md-sys-shape-corner-large) !important;
    }
}