<h1>News</h1>
<main>
    <cxw-card>
        <h2>V2.0.0 released</h2>
        <p>EUI Web is now codeX WebSight.</p>
        <h3>New Components</h3>
        <ul>
            <li>Basic Dialog</li>
            <li>
                <h4>Button Components</h4>
                <ul>
                    <li>FAB (Floating Action Button)</li>
                    <ul>
                        <li>Three sizes: FAB, medium FAB, large FAB</li>
                    </ul>
                </ul>
            </li>
        </ul>
        <h3>New Features</h3>
        <ul>
            <li>Centralized navigation item management</li>
            <li>Improved accessibility</li>
            <li>Motion tokens</li>
            <li>Self-hosting of web fonts for performance</li>
            <li>State layers for transitions</li>
        </ul>
        <h3>Updates</h3>
        <ul>
            <li>Design tweaks of existing components</li>
            <li>Switch Color Palette via Basic Dialog</li>
            <li>Swith Font via Basic Dialog</li>
            <li>Updated animations and transitions</li>
            <li>Updated color tokens</li>
            <li>Updated layout positioning and spacing</li>
        </ul>
    </cxw-card>
    <cxw-card variant="filled">
        <h2>V1.0.0 released</h2>
        <p>First public release of EUI Web.</p>
        <h3>Components</h3>
        <ul>
            <li>App Bar</li>
            <li>
                <h4>Button Components</h4>
                <ul>
                    <li>Buttons</li>
                    <ul>
                        <li>Five color options: elevated, filled, tonal, outlined, and text</li>
                        <li>Five size recommendations: extra small, small, medium, large, and extra large</li>
                        <li>Two shape options: round and square</li>
                    </ul>
                    <li>Icon Buttons</li>
                    <ul>
                        <li>Many configurations: Color, size, width, and shape</li>
                    </ul>
                </ul>
            </li>
            <li>Cards</li>
            <ul>
                <li>Elevated Card</li>
                <li>Filled Card</li>
                <li>Outlined Card</li>
            </ul>
            <li>
                <h4>Navigation</h4>
                <ul>
                    <li>Navigation Bar</li>
                    <li>Navigation Rail</li>
                </ul>
            </li>
            <li>Pane</li>
            <li>Scrim</li>
        </ul>
        <h3>Extras</h3>
        <ul>
            <li>Copy Table</li>
            <ul>
                <li>Copy entire tables or individual cells with one click.</li>
            </ul>
            <li>Image Grid</li>
            <li>Lightbox</li>
            <li>Slideshow</li>
            <li>Toggle Color Palette</li>
            <ul>
                <li>Available palettes: silver, green, yellow, orange, pink, baseline, blue</li>
            </ul>
            <li>Toggle Color Scheme</li>
            <ul>
                <li>Toggle between light and dark mode.</li>
            </ul>
            <li>Toggle Font</li>
            <ul>
                <li>Available fonts: Noto Sans, Anta, Limelight, Pattaya</li>
            </ul>
        </ul>
    </cxw-card>
</main>