/* || Slidehow */

:host {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2.4/1;
    width: 100%;
    overflow: hidden;
}

.slideshow__image {
    position: absolute; 
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity var(--md-sys-motion-duration-extra-long-4) ease-in-out;
}

.slideshow__image--active {
    opacity: 1;
    z-index: 1;
}

.slideshow__image--inactive {
    opacity: 0;
    z-index: 0;
}