/* || General */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    background-color: var(--md-sys-color-surface-container);
}

body {
    width: 100%;
    line-height: 150%;
    overflow: hidden;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* || Typescale */

body {
    font-family: "Noto Sans", sans-serif;
}

h1 {
    /* Display Small */
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 44px;
    margin: 32px 0;
    text-align: center;
}

h2 {
    /* Headline Large */
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 40px;
    margin: 32px 0;
}

h3 {
    /* Title Large */
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 28px;
    margin: 24px 0;
}

body {
    /* Body Large */
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
}

p {
    margin: 16px 0;
}

a {
    color: var(--md-sys-color-primary);
}

.centered {
    text-align: center;
}

footer {
    margin-top: auto;
    text-align: center;
}

/* || Table */

.table-container {
    overflow-x: auto;
    margin: 0;
    margin-bottom: 16px;
    border: 1px solid;
    border-radius: var(--md-sys-shape-corner-extra-large);
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
}

td,
th {
    padding: 20px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

tr:last-child td {
    border-bottom: none;
}

td:last-child,
th:last-child {
    border-right: none;
}

td {
    position: relative;
    cursor: pointer;
}

td::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-on-secondary-container);
    opacity: 0;
    transition:
        opacity var(--md-sys-motion-spring-standard-slow-effects);
}

@media (hover:hover) {
    td:hover::before {
        opacity: 0.08;
    }
}

td:active::before {
    opacity: 0.1;
    transition: none;
}