:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--md-sys-color-scrim);
    opacity: 0;
    pointer-events: none;
    transition:
      opacity var(--md-sys-motion-spring-standard-slow-effects);
}

:host(.scrim--visible) {
    pointer-events: auto;
    opacity: 0.6;
}