/* || FAB */

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    right: calc(16px + env(safe-area-inset-right));
    box-shadow: var(--elevation-level-3);
    transform: translateY(0);
}

.fab--hidden {
    transform: translateY(calc(100% + 64px + 16px + env(safe-area-inset-bottom)));
}

/* For compact and medium window classes */
@media screen and (max-width: 839px) {
    .fab {
        bottom: calc(64px + 16px + env(safe-area-inset-bottom));
    }
}

/* For expanded, large and extra-large window classes */
@media screen and (min-width: 840px) {
    .fab {
        z-index: 2;
        top: 20px;
        left: calc(20px + env(safe-area-inset-left));
        bottom: initial;
        right: initial;
    }
}

/* || FAB - Size */

.fab--size-base {
    height: 56px;
    width: 56px;
    border-radius: var(--md-sys-shape-corner-large);
}

.fab--size-base .fab__icon {
    font-size: 24px;
}

.fab--size-medium {
    height: 80px;
    width: 80px;
    border-radius: var(--md-sys-shape-corner-large-increased);
}

.fab--size-medium .fab__icon {
    font-size: 28px;
}

.fab--size-large {
    height: 96px;
    width: 96px;
    border-radius: var(--md-sys-shape-corner-extra-large);
}

.fab--size-large .fab__icon {
    font-size: 36px;
}

/* || FAB - Color */

.fab--color-tonal-primary {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

.fab--color-tonal-secondary {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.fab--color-tonal-tertiary {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.fab--color-primary {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.fab--color-secondary {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

.fab--color-tertiary {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}

/* || FAB - States */

.fab {
    transition:
        transform var(--md-sys-motion-spring-expressive-slow-spatial),
        box-shadow var(--md-sys-motion-spring-standard-slow-effects);
}

.fab:active {
    box-shadow: var(--elevation-level-3) !important;
    transition: none;
}

.fab::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition:
        opacity var(--md-sys-motion-spring-standard-slow-effects);

}

@media (hover:hover) {
    .fab:hover {
        box-shadow: var(--elevation-level-4);
    }

    .fab:hover::before {
        opacity: 0.08;
    }
}

.fab:active:before {
    opacity: 0.1;
    transition: none;
}

.fab--size-base::before {
    border-radius: var(--md-sys-shape-corner-large);
}

.fab--size-medium::before {
    border-radius: var(--md-sys-shape-corner-large-increased);
}

.fab--size-large::before {
    border-radius: var(--md-sys-shape-corner-extra-large);
}

.fab--color-tonal-primary::before {
    background-color: var(--md-sys-color-on-primary-container);
}

.fab--color-tonal-secondary::before {
    background-color: var(--md-sys-color-on-secondary-container);
}

.fab--color-tonal-tertiary::before {
    background-color: var(--md-sys-color-on-tertiary-container);
}

.fab--color-primary::before {
    background-color: var(--md-sys-color-on-primary);
}

.fab--color-secondary::before {
    background-color: var(--md-sys-color-on-secondary);
}

.fab--color-tertiary::before {
    background-color: var(--md-sys-color-on-tertiary);
}