/* || Icon button */

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* || Icon button - Size */

/* || Icon button - Size - Icon */

.icon-button--size-xs .icon-button__icon {
    font-size: 20px;
}

.icon-button--size-s .icon-button__icon,
.icon-button--size-m .icon-button__icon {
    font-size: 24px;
}

.icon-button--size-l .icon-button__icon {
    font-size: 32px;
}

.icon-button--size-xl .icon-button__icon {
    font-size: 40px;
}

/* || Button - Size - Width */

.icon-button--size-xs.icon-button--width-default {
    height: 32px;
    width: 32px;
}

.icon-button--size-xs.icon-button--width-narrow {
    height: 32px;
    width: 28px;
}

.icon-button--size-xs.icon-button--width-wide {
    height: 32px;
    width: 40px;
}

.icon-button--size-s.icon-button--width-default {
    height: 40px;
    width: 40px;
}

.icon-button--size-s.icon-button--width-narrow {
    height: 40px;
    width: 32px;
}

.icon-button--size-s.icon-button--width-wide {
    height: 40px;
    width: 52px;
}

.icon-button--size-m.icon-button--width-default {
    height: 56px;
    width: 56px;
}

.icon-button--size-m.icon-button--width-narrow {
    height: 56px;
    width: 48px;
}

.icon-button--size-m.icon-button--width-wide {
    height: 56px;
    width: 72px;
}

.icon-button--size-l.icon-button--width-default {
    height: 96px;
    width: 96px;
}

.icon-button--size-l.icon-button--width-narrow {
    height: 96px;
    width: 64px;
}

.icon-button--size-l.icon-button--width-wide {
    height: 96px;
    width: 128px;
}

.icon-button--size-xl.icon-button--width-default {
    height: 136px;
    width: 136px;
}

.icon-button--size-xl.icon-button--width-narrow {
    height: 136px;
    width: 104px;
}

.icon-button--size-xl.icon-button--width-wide {
    height: 136px;
    width: 184px;
}

/* || Icon button - Shape */

.icon-button--shape-round {
    border-radius: var(--md-sys-shape-corner-full);
}

.icon-button--shape-square.icon-button--size-xs,
.icon-button--shape-square.icon-button--size-s {
    border-radius: var(--md-sys-shape-corner-medium);
}

.icon-button--shape-square.icon-button--size-m {
    border-radius: var(--md-sys-shape-corner-large);
}

.icon-button--shape-square.icon-button--size-l,
.icon-button--shape-square.icon-button--size-xl {
    border-radius: var(--md-sys-shape-corner-extra-large);
}

/* || Icon button - Color */

.icon-button--color-filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.icon-button--color-tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.icon-button--color-outlined {
    background: none;
    border: 1px var(--md-sys-color-outline) solid;
    color: var(--md-sys-color-on-surface-variant);
}

.icon-button--color-standard {
    background: none;
    color: var(--md-sys-color-on-surface-variant);
}

/* || Icon button - State */

@media (hover:none) {
    .icon-button {
        transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    }

    .icon-button:active {
        transition: none;
    }

    .icon-button--color-filled:active {
        background-color: var(--md-sys-color-on-primary);
        color: var(--md-sys-color-on-surface);
    }

    .icon-button--color-tonal:active {
        background-color: var(--md-sys-color-on-secondary-container);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .icon-button--color-outlined:active {
        background-color: var(--md-sys-color-on-surface-variant);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .icon-button--color-standard:active {
        background-color: var(--md-sys-color-on-surface-variant);
        color: var(--md-sys-color-inverse-on-surface);
    }
}

@media (hover:hover) {
    .icon-button {
        transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
    }

    .icon-button--color-filled:hover {
        background-color: var(--md-sys-color-on-primary);
        color: var(--md-sys-color-on-surface);
    }

    .icon-button--color-tonal:hover {
        background-color: var(--md-sys-color-on-secondary-container);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .icon-button--color-outlined:hover {
        background-color: var(--md-sys-color-on-surface-variant);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .icon-button--color-standard:hover {
        background-color: var(--md-sys-color-on-surface-variant);
        color: var(--md-sys-color-inverse-on-surface);
    }

    .icon-button:active {
        background-color: var(--md-sys-color-surface) !important;
        color: var(--md-sys-color-on-surface) !important;
        transition: none;
    }
}