<ng-container *ngFor="let item of navService.navItems">
    <button *ngIf="item.showOnBar" class="navigation-bar__item" [attr.aria-label]="item.ariaLabel"
        [routerLink]="item.routerLink" routerLinkActive="navigation-bar__item--active"
        [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page" (click)="scrollService.scrollToTop()">
        <span class="material-symbols-outlined navigation-bar__item-icon">{{ item.icon }}</span>
        <span class="navigation-bar__item-label-text">{{ item.label }}</span>
    </button>
</ng-container>