<dialog class="basic-dialog" #dialog [attr.aria-label]="ariaLabel">
    <div class="basic-dialog__headline">
        <ng-content select="[headline]">Headline</ng-content>
    </div>

    <div class="basic-dialog__supporting-text">
        <ng-content select="[supporting-text]">Supporting text.</ng-content>
    </div>

    <div class="basic-dialog__actions">
        <ng-content select="[actions]">
            <cxw-button color="text" label="Action 2" />
            <cxw-button color="text" label="Action 1" />
        </ng-content>
    </div>
</dialog>